{% extends 'PhoshMainBundle:PostAdmin:layout.html.twig' %}

{% block content_inner %}

    <form action="{{ path('post_edit', { 'id': post.id }) }}" method="post">
        {{ form_errors(form) }}
        <fieldset>
            <div class="clearfix {% if form.title.get('errors')|length %}error{% endif %}">
                {{ form_label(form.title) }}
                <div class="input">
                    {{ form_widget(form.title, { 'attr' : {'class' : 'xlarge'} }) }}
                    {{ form_errors(form.title) }}
                </div>
            </div>

            <div class="clearfix {% if form.body.get('errors')|length %}error{% endif %}">
                {{ form_label(form.body) }}
                <div class="input">
                    {{ form_widget(form.body, { 'attr' : {'class' : 'span12', 'style' : 'height: 200px;' } }) }}
                    {{ form_errors(form.body) }}
                </div>
            </div>

            <div class="clearfix {% if form.expiredAt.get('errors')|length %}error{% endif %}">
                {{ form_label(form.expiredAt) }}
                <div class="input">
                    {{ form_widget(form.expiredAt.date, { 'attr' : {'placeholder' : 'YYYY/MM/DD' } }) }}
                    {{ form_widget(form.expiredAt.time, { 'attr' : {'placeholder' : 'HH:MM:SS' } }) }}
                    {{ form_errors(form.expiredAt) }}
                </div>
            </div>

            <div class="clearfix {% if form.regenerateToken.get('errors')|length %}error{% endif %}">
                {{ form_label(form.regenerateToken) }}
                <div class="input">
                    <div class="input-prepend">
                        {{ form_widget(form.token, { 'attr' : {'class' : 'span8'} }) }}
                        <label class="add-on active">{{ form_widget(form.regenerateToken) }}</label>
                        {{ form_errors(form.token) }}
                    </div>
                </div>
            </div>

            {{ form_rest(form) }}

            <div class="actions">
                <input type="submit" name="submit" value="Save" class="btn primary"/>
                <input type="reset" name="submit" value="Reset" class="btn"/>
            </div>
        </fieldset>
    </form>


{% endblock %}