{% block scripts %}
    {% include 'PhoshMainBundle::tinymce.html.twig' %}
{% endblock %}

<form action="{{ path('post_' ~ (post.id ? 'edit' : 'create'), { 'id': post.id }) }}" method="post">
    {{ form_errors(form) }}
    <fieldset>
        {{ form_row(form.title) }}

        <div class="clearfix {% if form.expiredAt.get('errors')|length %}error{% endif %}">
            {{ form_label(form.expiredAt) }}
            <div class="input">
                {{ form_widget(form.expiredAt.date, { 'attr' : {'placeholder' : 'YYYY/MM/DD', 'class': 'small datepicker' } }) }}
                {{ form_widget(form.expiredAt.time, { 'attr' : {'placeholder' : 'HH:MM:SS', 'class': 'small' } }) }}
                {{ form_errors(form.expiredAt) }}
            </div>
        </div>

        <div class="clearfix {% if form.regenerateToken.get('errors')|length %}error{% endif %}" {% if not post.id %} style="display: none;"{% endif %}>
            {{ form_label(form.regenerateToken) }}
            <div class="input">
                <div class="input-prepend">
                    {{ form_widget(form.token, { 'attr' : {'class' : 'small'} }) }}
                    <label class="add-on active">{{ form_widget(form.regenerateToken) }}</label>
                    {{ form_errors(form.token) }}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="actions">
            <input type="submit" name="submit" value="Submit" class="btn primary"/>
            <input type="reset" name="submit" value="Reset" class="btn"/>
        </div>
    </fieldset>
</form>