<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% set show_topbar = is_granted('ROLE_ADMIN') %}
{% set padding_top_px = show_topbar ? '40px' : '0px' %}
{% set show_footer = is_granted('ROLE_ADMIN') %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        {% block title %}
            {% if breadcrumbs is defined %}
                {% for breadcrumb in breadcrumbs|reverse %}
                    {% if breadcrumb.name is defined %}
                        {{ breadcrumb.name }}
                    {% else %}
                        {{ breadcrumb }}
                    {% endif %}
                    /
                {% endfor %}
            {% endif %}
        Milliarda
    {% endblock %}
    </title>

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendors/colorbox/colorbox.css') }}" />
    {% if is_granted('ROLE_ADMIN') %}
        <link rel="stylesheet" href="{{ asset('vendors/bootstrap/bootstrap-radiotoggle.css') }}" />
        <link rel="stylesheet" href="{{ asset('vendors/jquery.ui/css/redmond/jquery-ui-1.8.16.custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('vendors/filetree/filetree.css') }}"/>
    {% endif %}
    <link rel="stylesheet" href="{{ asset('app/resources/css/styles.css') }}" />
    <style type="text/css">
        body {
            padding-top: {{ padding_top_px }}/*40px*/; /* 40px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    {% block stylesheets %}{% endblock %}
    
    <script src="{{ asset('vendors/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendors/colorbox/jquery.colorbox-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/json2.js') }}"></script>
    {% if is_granted('ROLE_ADMIN') %}
        <script src="{{ asset('vendors/jquery.ui/jquery-ui-1.8.16.custom.min.js') }}"></script>
        <script src="{{ asset('vendors/filetree/jquery.filetree.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendors/bootstrap/bootstrap-modal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendors/bootstrap/bootstrap-alerts.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendors/bootstrap/bootstrap-radiotoggle.js') }}"></script>
        {% if app.environment == 'prod' %}
            <script type="text/javascript" src="{{ asset('vendors/underscore/underscore-min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendors/backbone/backbone-min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendors/jquery/jquery.tmpl.min.js') }}"></script>
        {% else %}
            <script type="text/javascript" src="{{ asset('vendors/underscore/underscore.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendors/backbone/backbone.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendors/jquery/jquery.tmpl.js') }}"></script>
        {% endif %}
        <script type="text/javascript" src="{{ asset('app/core/underscore/extend.js') }}"></script>
        <script type="text/javascript" src="{{ asset('app/core/underscore/templateSettings.js') }}"></script>
        <script type="text/javascript">
            $(function() {
                $('button.toggle.btn').toggleBtn();
                $('.radio button.btn').radio();
            });
            this.App = this.App || {};
            App.config = {
                env: "{{ app.environment }}",
                activeRoute: "{{ app.request.get('_route') }}",
                routes: {}
            }
        </script>
    {% endif %}
    
    <script type="text/javascript">
    	$(function() {
            $("a.colorbox").colorbox({
                maxWidth: '90%',
                maxHeight: '90%'
            });
        });
    </script>
    
    {% block scripts %}{% endblock %}
</head>
<body>
    {% if show_topbar %}
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="{{ path('post_index') }}">Milliarda</a>
                <ul class="nav">
                    <li {% if app.request.get('_route') in ['post_index', 'post_show', 'post_create', 'post_edit'] %}
                        class="active"
                    {% endif %}><a href="{{ path('post_index') }}">Posts</a></li>
                    <li {% if app.request.get('_route') in ['product_index', 'product_show', 'product_create', 'product_edit'] %}
                        class="active"
                    {% endif %}><a href="{{ path('product_index') }}">Products</a></li>
                    <li {% if app.request.get('_route') in ['config_attr_index', 'config_attr_show', 'config_attr_create', 'config_attr_edit'] %}
                        class="active"
                    {% endif %}><a href="{{ path('config_attr_index') }}">Config</a></li>
                </ul>
                <ul class="nav secondary-nav">
                    {% if is_granted('ROLE_USER') %}
                        <li {% if app.request.get('_route') in ['fos_user_profile_show', 'fos_user_profile_edit', 'fos_user_change_password'] %}
                            class="active"
                        {% endif %}><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="content">
            <div class="page-header">
            {% block page_header %}
                {% if page_title is defined %}
                    <h1>{{ page_title }} {% if is_granted('ROLE_ADMIN') %}<small>Administration</small>{% endif %}</h1>
                {% endif %}
            {% endblock %}
            </div>

            {% if is_granted('ROLE_ADMIN') and breadcrumbs is defined and breadcrumbs|length %}
                <ul class="breadcrumb">
                    <li><a href="{{ path('post_index') }}">Home</a> <span class="divider">/</span></li>
                    {% for breadcrumb in breadcrumbs %}
                        <li>
                            {% if breadcrumb.path is defined %}
                                {% if not loop.last and (breadcrumb.role is not defined or is_granted(breadcrumb.role)) %}
                                    <a href="{{ breadcrumb.path }}">{{ breadcrumb.name }}</a><span class="divider">/</span>
                                {% else %}
                                    {{ breadcrumb.name }}
                                {% endif %}
                            {% elseif breadcrumb.name is defined %}
                                {{ breadcrumb.name }}
                            {% else %}
                                {{ breadcrumb }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if app.session.hasFlash('warning') %}
                <div class="alert-message warning fade in" data-alert="alert">
                    <a class="close" href="#">×</a>
                    {{ app.session.flash('warning') }}
                </div>
            {% endif %}

            {% if app.session.hasFlash('error') %}
                <div class="alert-message error fade in" data-alert="alert">
                    <a class="close" href="#">×</a>
                    {{ app.session.flash('error') }}
                </div>
            {% endif %}

            {% if app.session.hasFlash('success') %}
                <div class="alert-message success fade in" data-alert="alert">
                    <a class="close" href="#">×</a>
                    {{ app.session.flash('success') }}
                </div>
            {% endif %}

            {% if app.session.hasFlash('info') %}
                <div class="alert-message info fade in" data-alert="alert">
                    <a class="close" href="#">×</a>
                    {{ app.session.flash('info') }}
                </div>
            {% endif %}

            {% block page_actions %}
            {% endblock %}

            <img src="{{ asset('blank.png') }}" width="1" height="1"/>

            {% block content %}{% endblock %}
        </div>

        {% if show_footer %}
        <footer>
            <p>&copy; Milliarda 2011</p>
        </footer>
        {% endif %}

    </div>
</body>
</html>