{% extends "FOSUserBundle::layout.html.twig" %}

{% set page_title = 'Login' %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert-message error">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <fieldset>
            <div class="clearfix">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <div class="input">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
            </div>

            <div class="clearfix">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <div class="input">
                    <input type="password" id="password" name="_password" />
                </div>
            </div>

            <div class="clearfix">
                <div class="input">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <span class="help-inline">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>
                </div>
            </div>

            <div class="actions">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn large success" />
            </div>
        </fieldset>
    </form>
{% endblock fos_user_content %}

