{% extends 'PhoshMainBundle:ProductAdmin:layout.html.twig' %}

{% block content_inner %}

    <div class="alert-message block-message info">
        <ul>
            <li>Created by <strong>{{ product.owner.username }}</strong> at <strong>{{ product.createdAt|date("Y/m/d H:i:s") }}</strong></li>
        </ul>
    </div>

    {{ product.description|raw }}

    <div class="media-grid">
        {% for photo in product.photos %}
            <a href="{{ path('photostorage_photo', {'id': photo.id}) }}" class="colorbox" rel="{{ product.title }}">
                <img src="{{ path('photostorage_photo', {'id': photo.id, 'w': 100, 'h': 100}) }}" />
            </a>
        {% endfor %}
    </div>
    
{% endblock %}