{% extends 'PhoshMainBundle:ConfigAttr:layout.html.twig' %}

{% block content_inner %}

    {% if missed_config_attr_names|length %}
        <div class="alert-message block-message error">
            <strong>Warning!</strong> Required config attributes are missing!
            <ul>
                {% for attr_name in missed_config_attr_names %}
                    <li>{{ attr_name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if config_attrs|length %}
        <table class="zebra-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Value</th>
                </tr>
            </thead>
            {% for config_attr in config_attrs %}
                <tr>
                    <td><a href="{{ path('config_attr_show', {'id': config_attr.id}) }}">{{ config_attr.name }}</a></td>
                    <td>{{ config_attr.title }}</td>
                    <td>{{ config_attr.value }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No config attributes found</p>
    {% endif %}



{% endblock %}